body {
background: #333333;


 }
 

 
#name{
text-allign: center;
color: #fff986;
font-family: 'Open Sans', serif;
font-size: 66px;
font-weight: light;
height: 145px;

 }

#school{
text-allign: center;
color: #fff986;
font-family: 'Open Sans', serif;
font-size: 40px;
font-weight: light;
height:50px;
 }
 #program{
text-allign: center;
color: #fff986;
font-family: 'Open Sans', serif;
font-size: 40px;
font-weight: light;
 }

#footer{
text-allign: center;
font-family: 'Open Sans', serif;
font-size: 20px;
color: #f986ff;

}
