body {
background: #333333;
 }
 
#wrapper {

background: #333333;
	
   width: 1000px;
	height: 500px;
	Margin-left: auto;
    margin-right: auto;
}
 
#name{

color: #fff986;
font-family: 'Open Sans', serif;
font-size: 66px;
font-weight: light;
height: 145px;

 }

#school{

color: #ccc;
font-family: 'Open Sans', serif;
font-size: 40px;
font-weight: light;
height:50px;
 }
 #program{

color: #ccc;
font-family: 'Open Sans', serif;
font-size: 40px;
font-weight: light;
 }

#footer{
color: #fff986;
font-family: 'Open Sans', serif;
font-size: 20px;
color: #f986ff;

}
